<div class="container noTopMargin padding40-top padding40-bottom padding40H noBorder borderSolid border3px  radius0  activeSection_topBorder0 activeSection_bottomBorder0 fullContainer  bgCover100" style="background-color: rgb(246, 246, 246); padding-top: 0px; padding-bottom: 10px; outline: none; background-image: url(&quot;/images/background_JMDL1-min.png&quot;);">
    <div class="containerInner ui-sortable" style="padding-left: 0px; padding-right: 0px;">
      <div class="row bgCover noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding-top: 20px; padding-bottom: 20px; margin: 0px; outline: none;">
        <div class="innerContent  ui-resizable col-md-5" style="outline: none;">
          <div class="col-inner bgCover  noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
            <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer;" data-hide-on="desktop" aria-disabled="false">
              <object data="{{ data.svg }}" type="image/svg+xml">
                <img src="{{ data.image }}" class="elIMG ximg" alt="" data-lazy-loading="false" tabindex="0">
              </object>
            </div>
          </div>
        </div>
        <div class="innerContent col_right ui-resizable col-md-7" style="outline: none;">
          <div class="col-inner bgCover  noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
            <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 10px; outline: none; cursor: pointer; background-color: rgba(0, 0, 0, 0.04); font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
              <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  lh4 padding5 mfs_16" style="text-align: center; font-size: 18px; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.04);">{{ data.subtitle }}</div>
            </div>
            <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 20px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  mfs_30 lh1" style="text-align: center; font-size: 30px; color: rgb(0, 0, 0);">{{ data.headline.opener }}</div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  mfs_30 lh1" style="text-align: center; font-size: 56px; color: var(--blue);">{{ data.headline.punchline }}</div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato" data-hide-on="desktop">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  mfs_30 lh1" style="text-align: center; font-size: 40px; color: rgb(0, 0, 0);">{{ data.headline.kicker }}
            </div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato" data-hide-on="mobile">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  mfs_30 lh1" style="text-align: center; font-size: 40px; color: rgb(0, 0, 0);">{{ data.headline.kicker }}&nbsp;<b>{{ data.headline.qualifier }}"</b>
            </div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato" data-hide-on="desktop">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  lh4 mfs_30" style="text-align: center; font-size: 36px; color: rgb(0, 0, 0);" data-bold="inherit" contenteditable="false"><b>{{ data.headline.qualifier }}"</b></div>
          </div>
          <div class="de elSeperator elMargin0 ui-droppable de-editable" style="margin-top: 5px; outline: none; cursor: pointer;" aria-disabled="false">
            <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
              <div class="elDividerInner" style="border-color: rgb(211, 211, 211);" data-width-border="50" data-align="center"></div>
            </div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 5px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  deCapitalize lh3 mfs_18" style="text-align: center; font-size: 22px; color: rgb(0, 0, 0);">{{ data.anchor }}</div>
          </div>
          <div class="de elSeperator elMargin0 ui-droppable de-editable" style="margin-top: 5px; outline: none; cursor: pointer;" aria-disabled="false">
            <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
              <div class="elDividerInner" style="border-color: rgb(211, 211, 211);" data-width-border="50" data-align="center"></div>
            </div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  lh1 mfs_21" style="text-align: center; font-size: 20px; color: rgb(0, 0, 0);">{{ event.opener }}<b><u>{{ event.date | date: "%A, %B %d" }}</u>&nbsp;@ {{ event.date | date: "%H:%M%P" }} {{ event.timezone }}</b>
            </div>
          </div>
          <div class="de elCountdown elAlign_center elMargin0 ui-droppable de-editable" data-show-weeks="false" data-show-months="false" data-show-years="false" style="margin-top: 15px; outline: none; cursor: pointer;" aria-disabled="false">
            <div class="wideCountdown wideCountdownSize2 cdBlack cdStyleTextOnly clearfix is-countdown" data-color-label="var(--pale-blue)">
              <span class="countdown-row countdown-show3">
              </span>
            </div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 15px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  lh1 deCapitalize mfs_18" style="text-align: center; font-size: 16px; color: rgb(0, 0, 0);" contenteditable="false">{{ data.optin_bonus }}</div>
          </div>

          {% render "bridgetown_theme_single_page_opt_in/cta_minibutton", data: button %}

          <div class="innerContent  ui-resizable col-md-5" style="outline: none;">
            <div class="col-inner bgCover  noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
              <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer;" data-hide-on="mobile" aria-disabled="false">
                <img src="{{ data.image }}" class="elIMG ximg" alt="" data-lazy-loading="false" tabindex="0">
              </div>
            </div>
          </div>

          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 15px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  deCapitalize lh3 mfs_18" style="text-align: center; font-size: 18px; color: rgb(0, 0, 0);">
             {{ data.disclaimer }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>